<div class="panel large-8">
  <h1>Haiku</h1>

  <p>{{lineOne}}</br>{{lineTwo}}</br>{{lineThree}}<p>

    {{view Ember.TextField valueBinding="lineOne"}}
    {{view Ember.TextField valueBinding="lineTwo"}}
    {{view Ember.TextField valueBinding="lineThree"}}
</div>